.console{
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.console .console__header {
  display: flex;
  align-items: center;
}

.console .console__header .console__user-email {
  margin-left: auto;
}

.console .console__header .console__logo-title {
  font-weight: normal;
  margin-left: 20px;
}

.console .console__header .console__user-email{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 2px 10px;
}

.console .console__header .console__user-email > span:last-child::before{
  content: ":";
  color: rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.console .console__header .console__logout-button{
  display: flex;
  margin-left: 20px;
  min-width: 80px;
  justify-content: space-between;
  cursor: pointer;
}

.console .console__header .console__fullscreen-button{
  margin-left: 20px;
  cursor: pointer;
  stroke: #0D0D0D;
  padding: 3px;
  border: 2px solid transparent;
}

.console .console__header .console__fullscreen-button svg{
  font-size: 10px;
}

.console .console__header .console__fullscreen-button:hover{
  cursor: pointer;
  stroke: #0055FB;
}

.console .console__header .console__fullscreen-button:focus{
  outline: none;
  border: 2px solid #45A5FF;
  stroke: #0055FB;
  border-radius: 7px;
}

.console_block{
  padding: 7px 16px;
  background: #F6F6F6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.console .console__req-history{
  position: relative;
  padding-right: 56px;
  height: 40px;
}

.console .console__req-list{
  display: flex;
  list-style: none;
  padding: 0;
  overflow-x: scroll;
  margin: 0;
  min-height: 140px;
}

.console .console__req-list::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.console .console__req-list::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}


.console .console__req-list .console__req-item{
  background-color: #fff;
  margin: 5px 5px 5px;
  padding: 0 0px 0 24px;
  position: relative;
  line-height: 1.9em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-height: 30px;
}

.console .console__req-list .console__req-item:first-child {
  margin-left: 0;
}

.console .console__req-list .console__req-item:hover{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.console .console__req-list .console__req-item::before{
  content: '';
  border-radius:50%;
  height: 8px;
  width: 8px;
  display: block;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
}

.console .console__req-list .console__req-item_success::before{
  background-color: #30B800;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.console .console__req-list .console__req-item_err::before{
  background-color: #CF2C00;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.console .console__drop-icon{
  cursor: pointer;
  height: 18px;
  width: 4px;
  padding: 0 12px 0 12px;
  fill: rgba(0, 0, 0, 0.2);
}

.console .console__clear-button{
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  cursor: pointer;
  box-shadow: -16px 0px 12px -6px #F6F6F6;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.console .console__body {
  height: 100%;
  background: #fff;
  overflow-x: auto;
}

.console .console__body .body__table {
  height: 100%;
  width: 100%;
  min-width: 585px;
}

.console .console__editor-wrap {
  height: 100%;
}

.console .console__editor-wrap .console__editor {
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 95%;
}

.console .console__editor-wrap .console__editor-title {
  color: #999999;
  font-size: 0.8em;
}

.console .console__editor-wrap #RES .ace_cursor{
  opacity: 0;
}

.console .console__editor-wrap .ace_scroller.ace_scroll-left {
  box-shadow: none;
}

.console .console__resize {
  margin: auto;
  width: 4px;
}

.console .console__resize .console__drop-icon {
  margin: auto auto;
  fill: #999999;
  cursor: col-resize;
  padding: 0;
}

.console .console__req-drop-card {
  position: absolute;
  list-style: none;
  padding: 0;
  left: 0;
  top: 30px;
  width: 100%;
  background: #fff;
  z-index: 9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  max-width: 129px
}

.console .console__footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.console .footer .footer__format-button {
  margin: auto 0 auto;
  cursor: pointer;
  margin: auto 0 auto;
  display: flex;
  padding: 2px;
  border-radius: 7px;
  border: 2px solid transparent;
}

.console .footer .footer__format-button:focus {
  outline: none;
  border: 2px solid #45A5FF;
  color: #0055FB;
}

.console .footer .footer__format-button:focus .footer__format-icon {
  stroke: #0055FB;
}

.console .footer .footer__link {
  margin: auto 0 auto;
}

.console .footer .footer__format-icon {
  stroke: #0D0D0D;
  margin-right: 5px;
}

