body, html, #root{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
}

input:focus{
  outline: none;
}

h1, h2, h3, h4, h5, h6, p{
  margin:0;
  line-height: normal;
}

@import "./auth.css";
@import "./console.css";

